{lib_dirs, ["apps", "deps"]}.
{sub_dirs, [
  "apps/resm"
]}.


{erl_opts, [debug_info, warnings_as_errors, warn_unused_vars]}.

{xref_checks, [undefined_function_calls]}. % export_not_used

% Enable eunit code coverage reports
{cover_enabled, true}.

% Enable eunit XML output
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{clean_files, ["logs", "test/*.beam", ".eunit/*"]}.


{deps, [
  {sync, ".*",
    {git, "https://github.com/rustyio/sync.git", "master"}},
  {cowboy, ".*",
    {git, "https://github.com/extend/cowboy.git", "master"}},
  {jsx, ".*",
    {git, "git://github.com/talentdeficit/jsx.git", "master"}}
   ]}.
